/*
    Email Results Section
*/
.emailresults-section {
  text-align: center;
  background-color: #F8F8F8;
}
.emailresults-section p {
  text-align: left;
}
.emailresults-section .result-count_container {
  padding: 4%;
}
.emailresults-section .result-count_container .result-counter {
  font-size: 52px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #004A80;
}
.emailresults-section .result-person_container {
  margin-bottom: 3%;
}
.emailresults-section .result-person_container .result-help {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.emailresults-section .result-person_container .person-info {
  border-radius: 30px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
.emailresults-section .result-person_container .person-info p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.emailresults-section .result-person_container .person-info ul {
  list-style: none;
  padding: 0;
}
.emailresults-section .result-person_container .person-info .person-info-phonenumbers li {
  color: #004A80;
}
.emailresults-section .result-person_container .person-info img {
  border-radius: 50%;
  width: 50px;
  line-height: 1.2;
  background-color: #004A80;
}
.emailresults-section .result-person_container .person-info #icon-user-personinfo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 48px;
  line-height: 1.7;
  background-color: #004A80;
  color: #F6BC25;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}
.emailresults-section .result-person_container .person-info h2 {
  font-size: 22px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #004A80;
}
.emailresults-section .result-person_container .person-info h3 {
  font-size: 32px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #004A80;
}

/* /.Email Results Section */
/*
     --> Responsive Styles <--
*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .emailresults-section {
    text-align: center;
  }
  .emailresults-section p {
    text-align: left;
  }
  .emailresults-section .result-count_container .result-counter {
    font-size: 38px;
  }
  .emailresults-section .result-count_container p {
    text-align: left;
    color: #4A4A4A;
    font-size: 18px;
  }
  .emailresults-section .result-person_container .person-info h2 {
    font-size: 20px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .emailresults-section p {
    text-align: left;
  }
  .emailresults-section .result-count_container .result-counter {
    font-size: 38px;
  }
  .emailresults-section .result-count_container p {
    text-align: left;
    color: #4A4A4A;
    font-size: 20px;
  }
  .emailresults-section .result-person_container .person-info h2 {
    font-size: 20px;
  }
  .emailresults-section .result-person_container .person-info #icon-user-personinfo {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    font-size: 36px;
    line-height: 1.6;
    margin-top: 22%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* ---> ./Responsive Styles <--- */

/*# sourceMappingURL=result.css.map */
